* {
  margin: 0;
  padding: 0;
}

.social-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120%; /* Increase font size by 20% */
  z-index: 10;
}

.social-links a {
  margin: 0 10px;
  color: #FFCC00;
  text-decoration: none;
  transition: 0.4s;
}

.social-links a:hover {
  opacity: .6;
}

body {
  background-color: #02061a;
  color: #FFFFFF;
  font-family: "Roboto", Arial, sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
}

#ipv6 {
  height: 18px;
  margin-left: 10px;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(174, 174, 174);
}
svg {
  fill: currentColor;
}
.clock {
  position: fixed;
  top: 10px;
  left: 10px;
  font-family: Arial, sans-serif;
  font-size: 14.2px; /* 20% smaller font size */
  color: #FFCC00;
}

.rain {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 90%;
}

.rain.back-row {
  display: none;
  z-index: 1;
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.social-links a>img {
  height: 30px;
}
.social-links>img {
  width: 250px;
  margin-bottom: 20px;
}
#bg_girl {
  height: 90vh;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 0;
}

@media screen and (max-width: 950px) {
  #bg_girl {
    height: 70vh;
    bottom: 3vh
  }
}
@media screen and (max-width: 770px) {
  #bg_girl {
    height: 40vh;
    bottom: 3vh
  }
}
.social-links {
  background-color: rgba(1, 4, 18, 0.5);
  border-radius: 10px;
  padding: 10px;
}
